### The Business Problem

Our client is a credit card company. They have brought us a dataset that includes some demographics and recent financial data (the past six months) for a sample of 30,000 of their account holders. This data is at the credit account level; in other words, there is one row for each account (you should always clarify what the definition of a row is, in a dataset). Rows are labeled by whether in the next month after the six month historical data period, an account owner has defaulted, or in other words, failed to make the minimum payment.

### Goal
Your goal is to develop a predictive model for whether an account will default next month, given demographics and historical data

### Data Exploration Steps 

1. How many columns are there in the data?These may be features, response, or metadata.
2. How many rows (samples)?
3. What kind of features are there? Which are categorical and which are numerical?
Categorical features have values in discrete classes such as "Yes," "No," or "maybe." Numerical features are typically on a continuous numerical scale, such as dollar amounts.
4. What does the data look like in these features?To see this, you can examine the range of values in numeric features, or the frequency of different classes in categorical features, for example
5. Is there any missing data?

In [3]:
# import libraries
import pandas as pd

In [4]:
df = pd.read_excel('../data/default_of_credit_card_clients.xls')

In [5]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

### Verifying Basic Data Integrity

In [8]:
# examining column names
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

### Meta  Data
1. The account ID column is referenced as ID
2. LIMIT_BAL - Amount of the credit provided (in New Taiwanese (NT) dollar) including individual consumer credit and the family (supplementary) credit
3. SEX: Gender (1 = male; 2 = female)
4. EDUCATION: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
5. MARRIAGE: Marital status (1 = married; 2 = single; 3 = others). 
6. AGE: Age (year). 
7. PAY_1–Pay_6: A record of past payments. Past monthly payments, recorded from April to September, are stored in these columns. 
8. PAY_1 represents the repayment status in September; PAY_2 = repayment status in August; and so on up to PAY_6, which represents the repayment status in April. The measurement scale for the repayment status is as follows: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; and so on up to 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
9. BILL_AMT1–BILL_AMT6: Bill statement amount (in NT dollar). 
10. BILL_AMT1 represents the bill statement amount in September; BILL_AMT2represents the bill statement amount in August; and so on up to BILL_AMT7, which represents the bill statement amount in April. 
11. PAY_AMT1–PAY_AMT6: Amount of previous payment (NT dollar). PAY_AMT1 represents the amount paid in September; PAY_AMT2 represents the amount paid in August; and so on up to PAY_AMT6, which represents the amount paid in A

In [13]:
#  target column (ID) and count unique values

df['ID'].nunique()

29687

In [14]:
# How many rows and columns?
df.shape

# number of unique IDs is less than the number of rows. This implies that the ID is not a unique identifier

(30000, 25)

In [15]:
# Store the value counts in a variable defined as id_counts
id_counts = df['ID'].value_counts()

In [18]:
# display stored values
id_counts.head()

d6697da8-74fc    2
bbffebbc-e3c4    2
cb18af1f-3b53    2
f9bcd13e-96bc    2
27e04c06-487f    2
Name: ID, dtype: int64

In [21]:
# Display the number of grouped duplicated entries
id_counts.value_counts()

# Most IDs occur exactly once, as expected. However, 313 IDs occur twice.

1    29374
2      313
Name: ID, dtype: int64

### Boolean Masks (Logical Mask)

A logical mask is a way to filter an array, or series, by some condition. For example, we can use the "is equal to" operator in Python, ==, to find all locations of an array that contain a certain value. Other comparisons, such as "greater than" (>), "less than" (<), "greater than or equal to" (>=), and "less than or equal to" (<=), can be used similarly. The output of such a comparison is an array or series of True/False values, also known as Boolean values. Each element of the output corresponds to an element of the input, is True if the condition is met, and is False otherwise.

In [23]:
# import numpy
import numpy as np

In [25]:
# generate random numbers using seed
np.random.seed(seed=24)

#  generate 100 random integers, chosen from between 1 and 5 (inclusive)
random_integers = np.random.randint(low=1,high=5,size=100)

In [26]:
random_integers

array([3, 4, 1, 4, 2, 2, 2, 1, 4, 4, 1, 4, 4, 3, 4, 4, 4, 4, 4, 4, 2, 3,
       4, 4, 2, 4, 2, 4, 1, 1, 3, 1, 4, 2, 2, 1, 4, 3, 2, 2, 3, 3, 2, 3,
       4, 2, 3, 4, 1, 3, 4, 2, 2, 4, 1, 2, 3, 3, 2, 1, 2, 4, 2, 1, 4, 3,
       1, 2, 1, 3, 4, 2, 3, 4, 1, 3, 2, 1, 1, 3, 3, 4, 3, 2, 4, 1, 4, 4,
       4, 4, 1, 4, 3, 2, 4, 4, 3, 3, 2, 4])

In [29]:
# locations of all elements of random_integers equal to 3
is_equal_to_3 = random_integers == 3
is_equal_to_3[:10]

array([ True, False, False, False, False, False, False, False, False,
       False])

In [30]:
#  how many elements were equal to 3
sum(is_equal_to_3)

22

In [31]:
# select the elements of the original array that meet that condition
random_integers[is_equal_to_3]

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [34]:
# using the dataset

# display the first 5 duplicated IDS 

dupe_mask = id_counts ==2
dupe_mask[0:5]

d6697da8-74fc    True
bbffebbc-e3c4    True
cb18af1f-3b53    True
f9bcd13e-96bc    True
27e04c06-487f    True
Name: ID, dtype: bool

In [35]:
# Access the index of id_count and display the first five rows
id_counts.index[0:5]

Index(['d6697da8-74fc', 'bbffebbc-e3c4', 'cb18af1f-3b53', 'f9bcd13e-96bc',
       '27e04c06-487f'],
      dtype='object')

In [36]:
# Select and store the duplicated IDs in a new variable called dupe_ids
dupe_ids = id_counts.index[dupe_mask]

In [38]:
# Convert dupe_ids to a list and then obtain the length of the list
dupe_ids = list(dupe_ids)
len(dupe_ids)

313

In [40]:
# verify the data in dupe_ids by displaying the first five
dupe_ids[0:5]

['d6697da8-74fc',
 'bbffebbc-e3c4',
 'cb18af1f-3b53',
 'f9bcd13e-96bc',
 '27e04c06-487f']

Look at the values of the features, to see what, if anything, might be different between these duplicate entries.

use the .isin and .loc methods for this purpose

In [41]:
df.loc[df['ID'].isin(dupe_ids[0:3]),:].head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
7383,bbffebbc-e3c4,60000,1,2,1,54,2,2,0,0,...,37613,39038,37814,55,2400,1316,2000,1531,1477,0
7483,bbffebbc-e3c4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7510,cb18af1f-3b53,380000,2,3,2,31,-1,-1,-1,-1,...,11147,12483,13680,9240,15233,11202,12493,13748,18061,0
7610,cb18af1f-3b53,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10395,d6697da8-74fc,100000,1,1,2,30,1,2,0,0,...,94898,97763,99102,0,3400,3383,4380,4300,2497,0
10495,d6697da8-74fc,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
#  Boolean matrix of the same size as the entire DataFrame using ==, 

df_zero_mask = df == 0
df_zero_mask

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,True
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [45]:
# Boolean series feature_zero_mask

feature_zero_mask = df_zero_mask.iloc[:,1:].all(axis=1)

In [46]:
#  sum of the Boolean series 
sum(feature_zero_mask)

315

In [47]:
# Clean the DataFrame by eliminating the rows with all zeros, except for the ID
df_clean_1 = df.loc[~feature_zero_mask,:].copy()

In [48]:
# verify columns and columns of the cleaned data

df_clean_1.shape

(29685, 25)

In [49]:
# Obtain the number of unique IDs
df_clean_1['ID'].nunique()

29685